<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_head') %>
</head>

<body class="messages">
  <nav>
    <%- include('../partials/_navbar') %>
  </nav>

  <header>
    <h3>Messages</h3>
  </header>

  <main>
    <div class="messages-index">
        <input id="search" placeholder="search"/>

        <table>
          <tbody>
            <% let previousId = 0; %>
            <% for(const messageObj of messagesArray) { %>
              <% if (messageObj.id !== previousId) { %>
              <tr class="message">
                <td class="sender"><%= messageObj.sender %></td>
                <div class="subject-body">
                  <td class="subject"><%= messageObj.subject %> -- </td>
                  <td class="body"> <%= messageObj.message %></td>
                </div>
                <td>
                    <a href="/messages/<%= messageObj.id %>" class="btn btn-outline-primary btn-sm">View</a>
                </td>
              </tr>
                <% previousId = messageObj.id %>
              <% } %>
            <% } %>

            <!-- <form method="GET" action="/messages/show">
              <tr class="message">
                <td class="sender">Bimpnottin Fnipper</td>
                <td class="subject">Garden?</td>
                <td class="body">Hi there! I love your property, what is the garden situation like? I love me some berries.</td>
                <td class="date">today</td>
              </tr>
            </form>

            <form method="GET" action="/messages/show">
              <tr class="message">
                <td class="sender">Grafan Quickbell</td>
                <td class="subject">Build year</td>
                <td class="body">When was your property built?</td>
                <td class="date">today</td>
              </tr>
            </form>

            <form method="GET" action="/messages/show">
              <tr class="message">
                <td class="sender">Nissa Ashhearth</td>
                <td class="subject">Property inquiry</td>
                <td class="body">Hello, I would love to hear more about your property</td>
                <td class="date">yesterday</td>
              </tr>
            </form>

            <form method="GET" action="/messages/show">
              <tr class="message">
                <td class="sender">Savyn Wegglehaggle</td>
                <td class="subject">Neighbourhood inquiry</td>
                <td class="body">Hello, could you tell me more about the neighbourhood?</td>
                <td class="date">yesterday</td>
              </tr>
            </form>

            <form method="GET" action="/messages/show">
              <tr class="message">
                <td class="sender">Horxif Tunggasanack</td>
                <td class="subject">Orcs in the area??</td>
                <td class="body">I was told there were orcs in the area... Please tell me more.</td>
                <td class="date">yesterday</td>
              </tr>
            </form>

            <form method="GET" action="/messages/show">
              <tr class="message">
                <td class="sender">Salziver Deepbelch</td>
                <td class="subject">Submit an offer</td>
                <td class="body">Hello, I would love to discuss my offer for your property</td>
                <td class="date">yesterday</td>
              </tr>
            </form> -->

          </tbody>
        </table>

  </main>

<footer>
  <%- include('../partials/_footer') %>
</footer>

</body>

</html>
