<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_head') %>
</head>

<body>
  <nav>
    <%- include('../partials/_navbar') %>
  </nav>

  <div class="thread-container">
    <header class="message-show-header">
      <h7><em>Listing: <%= message.listing_name %></em></h7>
      <h5><b>Subject: <%= message.subject %></b></h5>
    </header>

    <main>
      <section class="message-thread">
        <!-- INITAL SENDER -->
        <div class="container darker">
          <span class="sender right"><%= message.sender.split(" ")[0] %></span>
          <p><%= message.message %></p>
        </div>
      </section>

      <!-- REPLY FORM -->
      <section class="new-reply">
        <form id="response-form">
          <div class="form-body">
            <textarea name="reply" class="reply-message-body" placeholder="Reply"></textarea>
          </div>

          <div class="send-message-button">
            <button type="submit" class="btn btn-primary btn-sm">Send Message</button>
          </div>
        </form>
      </section>

    </main>
  </div>

<footer>
  <%- include('../partials/_footer') %>
</footer>

</body>

</html>
