<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_head') %>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/messages.js"></script>
</head>

<body>
  <nav>
    <%- include('../partials/_navbar') %>
  </nav>

  <header>
    <h4>Listing: <%= message.listing_name %></h4>
    <h4>Subject: <%= message.subject %></h4>
  </header>

  <main>
    <section class="message-thread">

      <!-- SENDER -->
    <div class="container darker">
      <span class="sender right"><%= message.sender %></span>
      <p><%= message.message %></p>
      <span class="time-left">11:00 am</span>
    </div>

    </section>

    <!-- REPLY FORM -->
    <section class="new-reply">

      <form id="response-form">
        <div class="form-body">
          <textarea name="reply" class="reply-message-body" cols="50" rows="15" placeholder="Reply"></textarea>
        </div>
      </div>

      <div class="send-message-button">
        <button type="submit">Send Message</button>
      </div>

    </form>

    </section>

  </main>

<footer>
  <%- include('../partials/_footer') %>
</footer>

</body>

</html>
