<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_head') %>
  <title>My Listings</title>
</head>

<body>
  <nav>
    <%- include('../partials/_navbar'); %>
  </nav>

  <main class="main-container">
    <div class="filter-box">
      <form method="POST" action="/my-listings/byprice">
          <label class="price-filter-label">Min Price:</label>
            <input type="number" name="min">
          <label class="price-filter-label">Max Price:</label>
            <input type="number" name="max">
          <button type="submit" class="btn btn-light btn-sm">Search</button>
      </form>
      <div class="create-listing-button">
      <form action="/my-listings/new" method="GET">
        <button type="submit" class="btn btn-light">Create New Listing</button>
      </form>
    </div>
    </div>
    <div class="listings-box">
      <div class="listings">
        <% for (let listing of listings) { %>
          <div class="listing">
            <img src="<%= listing.image_thumbnail %>" alt="gnome-home">
            <div>
              <div class="listing-title"><%= listing.title %>
              </div>
              <div class="listing-price">$<%= listing.asking_price %>
              </div>
              <div class="primary-info"><%= listing.num_of_bedrooms %> bedrooms, <%= listing.num_of_bathrooms %> bathrooms, <%= listing.sqr_inches %> square inches
              </div>
              <div class="listing-addr"><u>Address:</u> <%= listing.street %>, <%= listing.city %>, <%= listing.province %>, <%= listing.post_code %>, <%= listing.country %>
              </div>
            </div>
            <div class="description-layer">
              <p class="description"><%= listing.description %></p>
              <div>
              <div class="listing-button">
                <form action="my-listings/<%= listing.id %>/delete" method="POST">
                  <button type="submit" class="btn btn-danger btn-sm">Delete Listing</button>
                </form>
              </div>
              <div class="listing-button">
                <form action="my-listings/<%= listing.id %>/sold" method="POST">
                  <button type="submit" class="btn btn-outline-danger btn-sm">Mark Sold</button>
                </form>
              </div>
            </div>
          </div>
          <% if (listing.available === false) { %>
            <img class="sold-img" src="https://www.osoyoos.ca/sites/osoyoos.civicwebcms.com/files/media/Samples/sold.png" alt="sold-sign">
          <% } %>
          </div>
        <% } %>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/_footer') %>
  </footer>

</body>

</html>
