<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_head') %>
  <title>My Listings</title>
</head>

<body>
  <%- include('../partials/_navbar'); %>

  <main class="main-container">
    <a href="/listings/new">Create Listing</a>
    </div>
    <%- include('../partials/_filter-box') %>
    <%- include('../partials/_listings') %>
  </main>


<%- include('../partials/_footer') %>

</body>

</html>
