<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_head') %>
  <title>Purchases</title>
</head>

<body>
  <nav>
    <%- include('../partials/_navbar'); %>
  </nav>

  <main class="main-container">
    <%- include('../partials/_filter-box') %>
    <%- include('../partials/_listings') %>
  </main>

<footer>
  <%- include('../partials/_footer') %>
</footer>

</body>

</html>
